<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.shawn.map">

    <application>
        <activity android:name=".practise.TestLocationActivity"></activity>
        <activity android:name=".practise.TestMapHomeActivity" />

        <service
            android:name="com.amap.api.location.APSService"
            android:foregroundServiceType="location" />
    </application>

</manifest>